body {
    margin : 0 0 0 0;
}

p {
    font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    min-height : 25px;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}




/*Background CSS*/
#toggle-wall-button {
    float : left;
    position : fixed;
    z-index : 10000;
    background-color : rgba(180, 225, 240, 1);
    padding: none;
    color: rgb(255, 255, 255);
    font-size : 16pt;
    height : auto;
    width : auto;
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

#toggle-wall-button:hover {
    -webkit-filter: none;
    filter: none;
}

#background {
    position : fixed;
    min-width : 1000px;
}


#background img {
    float :left;
    width : 100%;
    height : auto;
    /* Chrome, Safari, Opera */
    -webkit-filter: blur(2px) grayscale(100%) opacity(50%);
    filter: blur(4px) grayscale(100%) opacity(50%);


    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

#background img:hover {
    /* Chrome, Safari, Opera */
    /*-webkit-filter: saturate(2) opacity(100%);
    filter: saturate(2) opacity(100%);*/
    -webkit-filter: none;
    filter: none;
    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;

}

/*End Background CSS*/

/*Page CSS*/

#banner-container {
    position :relative;
    width : 90%;
    height : 400px;
    margin: 0 auto 0 auto;
}

.banner-image {
    height : auto;
    max-width : 100%;
    position : absolute;
    left : 0;
    opacity : 0;

    -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
}

#wall {
    position : relative;
    width : 60%;
    height : auto;
    background-color : rgba(255, 255, 255, 0.7);
    left : 50%;
    transform : translate(-50%, 0);
    min-width : 800px;
}

#square-table {
    position : relative;
    max-width: 100%;
    table-layout: fixed;
    width : 100%;
}

#square-table td {
    vertical-align : top;
}

.square {
    z-index : 1;
    background-color : rgba(50, 50, 240, .4);
    margin : 20px 10px 20px 10px;
    width : 100%
    min-width: 100px;
}

.square-title {
    margin : 2px 0 2px 0;
    text-align : center;
}

.square-image {
    max-width : 100%;
    max-height : auto;
}

.square-description {
    font-size : 10pt;
    margin : 2px 0 2px 0;
    text-align : center;
}

/*End Page CSS*/

/*Contact Footer CSS*/
#contact-footer {
    background-color : rgba(50, 50, 50, .7);
}

#contact-footer .section-header {
    font-family : "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    font-size : 16pt;
}

#contact-footer p {
    margin : 0px 0px 0px 5px;
}

#contact-footer .icon::before {
    margin : 4px;
}

#contact-footer .email-icon::before{
    content: url('../images/icons/email-icon.png');
}

#copyright {
    position : absolute;
    bottom : 0;
    right : 5px;
}
/*End Contact Footer CSS*/
